.telas{
	display: none;
}

.container{
	margin-top: -10px;
}

.jumbotron{
	background-color: #fff;
	width: 400px;
}

.form-home{
	width: 600px;
	margin-top: 100px;
	margin-left: 500px;
}

.instruction{
	background-color: #eeeeee !important;
	width: 100% !important;
	min-height: 400px;
	position: absolute;
	
}

.texto h1{
	width: 800px;
	margin-top: 100px;
	font-size: 40px;
}

.img-responsive{
	min-width: 200px;
	max-width: 200px;
	margin-left: 80px;
}


.ist2 h2{
	max-width: 800px;

}

.table2excel{
	display: none;
}

#resultado{
	display: none;
}
.alert{
	display: none;
}

.comps{
	cursor: pointer;
}


